<!-- LEFT MAIN SIDEBAR -->
<div class="ec-left-sidebar ec-bg-sidebar">
  <div id="sidebar" class="sidebar ec-sidebar-footer">

    <div class="ec-brand">
      <a href="/admin/img/logo/logosad" title="">
        <img class="ec-brand-icon" src="" alt="" />
        <span class="ec-brand-name text-truncate"></span>
      </a>
    </div>

    <!-- begin sidebar scrollbar -->
    <div class="ec-navigation" data-simplebar>
      <!-- sidebar menu -->
      <ul class="nav sidebar-inner" id="sidebar-menu">
        <!-- Dashboard -->
        <li class="active">
          <a class="sidenav-item-link" href="/admin/admindashboard">
            <i class="mdi mdi-view-dashboard-outline"></i>
            <span class="nav-text">Dashboard</span>
          </a>
          <hr>
        </li>



        <!-- Users -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)">
            <i class="mdi mdi-account-group"></i>
            <span class="nav-text">Users</span>
          </a>
          <div class="collapse">
            <ul class="sub-menu" id="users" data-parent="#sidebar-menu">


              <li class="">
                <a class="sidenav-item-link" href="/admin/userlistadmin">
                  <span class="nav-text">User List</span>
                </a>
              </li>

            </ul>
          </div>
          <hr>
        </li>

        <!--Category--->
        <!-- Category -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)">
            <i class="mdi mdi-dns-outline"></i>
            <span class="nav-text">Categories</span>
          </a>
          <div class="collapse">
            <ul class="sub-menu" id="categorys" data-parent="#sidebar-menu">
              <li class="">
                <a class="sidenav-item-link" href="/admin/category">
                  <span class="nav-text">add category</span>
                </a>
              </li>
              <li class="">
                <a class="sidenav-item-link" href="/admin/category">
                  <span class="nav-text">show category</span>
                </a>
              </li>
            </ul>
          </div>
          <hr>
        </li>


        <!-- Products -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)">
            <i class="mdi mdi-palette-advanced"></i>
            <span class="nav-text">Products</span>
          </a>
          <div class="collapse">
            <ul class="sub-menu" id="products" data-parent="#sidebar-menu">
              <li class="">
                <a class="sidenav-item-link" href="/admin/productadd">
                  <span class="nav-text">Add Product</span>
                </a>
              </li>
              <li class="">
                <a class="sidenav-item-link" href="/admin/productlist">
                  <span class="nav-text">List Product</span>
                </a>
              </li>

              <!-- <li class="">
                                <a class="sidenav-item-link" href="product-detail.html">
                                    <span class="nav-text">Product Detail</span>
                                </a>
                            </li> -->
            </ul>
          </div>
          <hr>
        </li>

        <!-- coupan -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)">
            <i class="mdi mdi-dns-outline"></i>
            <span class="nav-text">coupans</span>
          </a>
          <div class="collapse">
            <ul class="sub-menu" id="categorys" data-parent="#sidebar-menu">
              <li class="">
                <a class="sidenav-item-link" href="/admin/coupanadd">
                  <span class="nav-text">add coupan</span>
                </a>
              </li>
              <li class="">
                <a class="sidenav-item-link" href="/admin/coupanadd">
                  <span class="nav-text">show coupan</span>
                </a>
              </li>
            </ul>
          </div>
          <hr>
        </li>


        <!-- Orders -->
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)">
            <i class="mdi mdi-cart"></i>
            <span class="nav-text">Orders</span>
          </a>
          <div class="collapse">
            <ul class="sub-menu" id="orders" data-parent="#sidebar-menu">
              <li class="">
                <a class="sidenav-item-link" href="/admin/orderhistory">
                  <span class="nav-text">list orders</span>
                </a>
              </li>

            </ul>
          </div>
          <hr>
        </li>
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)">
            <i class="mdi mdi-cart"></i>
            <span class="nav-text">Banner</span>
          </a>
          <div class="collapse">
            <ul class="sub-menu" id="orders" data-parent="#sidebar-menu">
              <li class="">
                <a class="sidenav-item-link" href="/admin/banner">
                  <span class="nav-text">add banner</span>
                </a>
              </li>
              <li class="">
                <a class="sidenav-item-link" href="/admin/bannerlist">
                  <span class="nav-text">list banner</span>
                </a>
              </li>


            </ul>
          </div>
          <hr>
        </li>
        <li class="has-sub">
            <a class="sidenav-item-link" href="javascript:void(0)">
              <i class="mdi mdi-dns-outline"></i>
              <span class="nav-text">Sales report</span>
            </a>
            <div class="collapse">
              <ul class="sub-menu" id="categorys" data-parent="#sidebar-menu">
                <li class="">
                  <a class="sidenav-item-link" href="/admin/daily">
                    <span class="nav-text">DAILY REPORT</span>
                  </a>
                </li>
               
                <li class="">
                    <a class="sidenav-item-link" href="/admin/month">
                      <span class="nav-text">MONTHLY REPORT</span>
                    </a>
                  </li>
                  <li class="">
                    <a class="sidenav-item-link" href="/admin/year">
                      <span class="nav-text">YEARLY REPORT</span>
                    </a>
                  </li>
              </ul>
            </div>
            <hr>
          </li>

    <!-- Reviews
                <li>
                    <a class="sidenav-item-link" href="review-list.html">
                        <i class="mdi mdi-star-half"></i>
                        <span class="nav-text">Reviews</span>
                    </a>
                </li>

                Brands
                 <li>
                    <a class="sidenav-item-link" href="brand-list.html">
                        <i class="mdi mdi-tag-faces"></i>
                        <span class="nav-text">Brands</span>
                    </a>
                    <hr>
                </li> -->

    <!-- Authentication -->
    <!-- <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-login"></i>
                        <span class="nav-text">Authentication</span>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="authentication" data-parent="#sidebar-menu">
                            <li class="">
                                <a href="/admin">
                                    <span class="nav-text">Sign In</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="sign-up.html">
                                    <span class="nav-text">logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                </li> -->


    </ul>
  </div>
</div>
</div>